##==============================================================================
## LOGO
##==============================================================================

## Ubuntu Logo, simple ASCII drawing by andresgongora

local logo="\e[0;91m               /////////////////
\e[0;91m          /////////////////////////
\e[0;91m       ////////////////////\e[1;97m@@@@\e[0;91m///////
\e[0;91m     /////////////////////\e[1;97m@@@@@@\e[0;91m////////
\e[0;91m   ////////////////\e[1;97m@@@@@@\e[0;91m//\e[1;97m@@@@\e[0;91m///////////
\e[0;91m  ////////////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@@@@@@\e[0;91m//\e[1;97m@\e[0;91m////////////
\e[0;91m ///////////\e[1;97m@@@@@@\e[0;91m/////////\e[1;97m@@@@@@\e[0;91m///////////
\e[0;91m///////////\e[1;97m@@@@@\e[0;91m/////////////\e[1;97m@@@@@\e[0;91m///////////
\e[0;91m//////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@\e[0;91m///////////////\e[1;97m@@@@@\e[0;91m//////////
\e[0;91m/////\e[1;97m@@@@@@\e[0;91m/\e[1;97m@@@\e[0;91m//////////////////////////////
\e[0;91m//////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@\e[0;91m///////////////\e[1;97m@@@@@\e[0;91m//////////
\e[0;91m///////////\e[1;97m@@@@@\e[0;91m/////////////\e[1;97m@@@@@\e[0;91m///////////
\e[0;91m ///////////\e[1;97m@@@@@@\e[0;91m/////////\e[1;97m@@@@@@\e[0;91m///////////
\e[0;91m  ////////////\e[1;97m@@@@\e[0;91m//\e[1;97m@@@@@@@@\e[0;91m//\e[1;97m@\e[0;91m////////////
\e[0;91m   ////////////////\e[1;97m@@@@@@\e[0;91m//\e[1;97m@@@@\e[0;91m///////////
\e[0;91m     /////////////////////\e[1;97m@@@@@@\e[0;91m////////
\e[0;91m       ////////////////////\e[1;97m@@@@\e[0;91m///////
\e[0;91m          /////////////////////////
\e[0;91m              /////////////////   "



##==============================================================================
## COLORS
##==============================================================================

format_info="		-c 251"
format_highlight="	-c 135    -e bold"
format_crit="		-c 124    -e bold"
format_deco="		-c 62  -e bold"
format_ok="		    -c 28  	  -e bold"
format_error="		-c 124    -e bold     -e blink"
format_logo="		-c 135    -e bold"
